doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(name="mobile-web-app-capable", content="yes")
		link(rel="icon", type="image/png", href="/images/favicon/32.png", sizes="32x32")
		link(rel="icon" type="image/png" href="/images/favicon/96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="/images/favicon/16.png", sizes="16x16")
		link(rel="apple-touch-icon-precomposed", href="/images/favicon/152.png")
		link(rel="stylesheet", href="/css/app.min.css")
		title Datavore&reg;
		script.
			document.getElementsByTagName('html')[0].className = 'js';
	body
		#page
			a.wai(href="#content")
			nav
				.container
					a.btn.logo(
						href="http://datavorelabs.com"
						title="Datavore® Releases Home"
					)
						svg(viewBox="0 0 405.2 258.3")
							use(xlink:href="#i-logo")

					ul
						li
							a.btn(
							href="/#home-contact"
							) Contact


			main#content
				section#header
					.lines(aria-hidden="true"): span
					.graphs(aria-hidden="true")
						.graph-1
							.bar
							.bar
							.bar
							.bar
						.graph-2
							.bar
							.bar
							.bar
							.bar
							.bar

					aside
						img.logo-header(src="/images/ui/logo_header.png" alt="Datavore Logo")
						div
							img.tagline-header(src="/images/ui/tagline.png" alt="Turning Data into Knowledge")

				section#intro.container
					p Datavore<sup>&reg;</sup> is an adaptive data analytics platform that enables anyone to quickly and easily explore multiple datasets and ask meaningful questions. It provides an  intuitive workflow interface enabling the consumption, normalization, analysis, and generation of visualizations.

				section#solutions.container
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ullamcorper risus, nec euismod risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus elementum enim a diam condimentum dictum. Praesent consectetur sapien enim, sit amet interdum ligula rutrum a. Maecenas ac eleifend eros. In vehicula efficitur placerat. Duis vulputate mi nec quam pharetra ultricies. Morbi vitae tortor porttitor, convallis velit in, pulvinar erat. In et nulla ut sem volutpat vulputate. Curabitur lectus urna, consequat vitae scelerisque non, malesuada placerat turpis. Phasellus eget odio sed diam tempus tempus. Cras tempus quam sed congue ultricies. Sed id tortor id justo volutpat tincidunt.

					Curabitur nec dictum leo. Duis vestibulum vitae nisi sit amet lobortis. Ut at risus orci. Etiam convallis eros porttitor sapien bibendum ultricies. Sed at varius nisi. Curabitur felis felis, dignissim a lectus a, accumsan varius lorem. Duis quis tempus dolor. Nullam rutrum tortor at ligula sodales rhoncus. Donec convallis, tellus ac aliquet rutrum, turpis dui sollicitudin ligula, ut condimentum nunc leo quis urna. In hac habitasse platea dictumst. Donec et diam ut odio condimentum pharetra eget vitae nibh. Nulla sagittis felis sit amet dolor egestas, sed fringilla nulla euismod. Nulla accumsan lobortis dui. Phasellus facilisis dapibus ligula in suscipit. Phasellus sodales tortor a metus tempus maximus.

					Nulla eget scelerisque metus. Mauris eu lorem quam. Praesent sit amet tortor magna. Suspendisse non ante sed velit ultrices maximus eu vitae metus. Nunc aliquam, leo faucibus bibendum auctor, ipsum risus luctus neque, ut sollicitudin felis metus a justo. Praesent blandit scelerisque eros vel faucibus. Aenean egestas euismod pharetra. Nunc lobortis massa vitae eros bibendum lacinia. Duis vehicula scelerisque augue ac ultrices. Mauris blandit rutrum urna nec iaculis. In hac habitasse platea dictumst. Cras finibus commodo congue. Etiam hendrerit erat ac est condimentum, mollis consequat orci imperdiet. Nulla cursus lorem augue, consequat lacinia elit vehicula in. Sed congue nisi sit amet ipsum pharetra fermentum.

					Nullam id elit nibh. In ultrices velit nibh, quis lobortis dui commodo a. Praesent ac quam at arcu dapibus tempus. Integer feugiat elit et condimentum eleifend. Morbi rhoncus felis purus, in mattis libero interdum a. Aliquam a vulputate sapien. Nullam massa est, sodales vel euismod et, egestas eget quam. Suspendisse vitae auctor quam, nec bibendum lectus. Nam massa justo, semper quis risus finibus, tristique malesuada massa. Pellentesque pellentesque aliquet ligula vel auctor. Morbi lacinia justo vel porta iaculis. Praesent nec pretium dolor, eget cursus mi. Aliquam quis quam eu augue elementum rutrum interdum at mi.

					Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque suscipit eu augue a elementum. Cras tincidunt malesuada lacinia. Donec mattis mi vel sem laoreet egestas. Curabitur tempor nisi nec justo consectetur, at laoreet augue posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ut quam metus. Nam venenatis blandit ligula, in facilisis dui mollis id. Morbi a efficitur odio, nec pellentesque leo. Pellentesque at sodales augue. Nunc pharetra urna ac diam fringilla convallis. Nam lobortis commodo nisi vel rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis tristique tellus.

					Nullam quis lectus pulvinar, sagittis lorem vel, porttitor libero. Aenean lectus lacus, pulvinar eu mattis at, efficitur vel lectus. Aenean dui felis, consequat quis tristique at, aliquam sit amet lectus. Quisque metus nunc, dictum in bibendum id, scelerisque eget purus. Pellentesque sed odio enim. Duis turpis magna, bibendum et ex vel, aliquam convallis magna. Curabitur suscipit quam odio, sit amet congue nisl suscipit eu. Ut vulputate at purus eget luctus. Donec at egestas quam. Nam mattis dignissim justo vitae sollicitudin. Vestibulum condimentum urna lacus, at lobortis quam tincidunt in. Nullam elit arcu, tempus et enim vel, commodo egestas velit. Mauris vestibulum tristique erat.

					Quisque sapien arcu, ornare eget viverra fermentum, pulvinar quis dui. Etiam euismod, quam in finibus luctus, dui ex feugiat tortor, vel vestibulum elit turpis sit amet dolor. Sed arcu sapien, porta eu placerat non, egestas sit amet nulla. Cras efficitur non diam ornare placerat. Donec convallis ligula quis posuere volutpat. Nam nisi leo, mattis id dui ut, vehicula mollis massa. Fusce aliquam, massa et semper rutrum, ante odio tempus magna, id dignissim risus dui vel ex. In at massa a magna facilisis dictum non non elit. Vestibulum sollicitudin est at turpis bibendum, sit amet pulvinar tellus iaculis. Praesent efficitur tincidunt sem, dictum accumsan magna sagittis a. Maecenas finibus accumsan luctus. Cras sit amet molestie justo. Ut pretium magna eget gravida maximus.

					Nam tempus turpis turpis, a blandit magna congue non. Vestibulum eleifend tempor nisl ac hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam viverra neque eu enim feugiat auctor. Nam egestas dignissim aliquam. Vestibulum varius scelerisque elit, nec finibus nulla varius eu. Donec tincidunt nulla elit. Etiam a maximus nulla. Sed in venenatis urna, in congue turpis. Etiam facilisis ipsum sed augue mattis imperdiet. Cras augue arcu, eleifend sit amet vulputate nec, pharetra quis lorem. Donec semper vehicula enim quis condimentum. Donec pretium dignissim tristique. Nullam eget diam quis dolor vehicula fermentum et ac nibh. Nam sed nisi in sem consequat mollis.

					Maecenas arcu libero, imperdiet et fermentum ut, ultricies quis elit. Integer feugiat, augue nec sollicitudin ornare, tellus sapien fermentum elit, eget euismod quam metus quis urna. Proin et dapibus risus, sit amet tempus justo. Pellentesque orci est, bibendum id nulla non, dignissim mattis mi. Praesent consectetur blandit lacus. Vivamus et ultrices turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ullamcorper at elit et pharetra.

					Sed dolor ante, venenatis ac dignissim eu, interdum nec nibh. Sed viverra turpis at diam tempor sodales. Aenean tincidunt sapien in nisi sollicitudin lacinia. Quisque finibus tempor est ac eleifend. Curabitur tristique varius maximus. Duis sit amet sodales dolor. Vestibulum quis porttitor est.

		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
