doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(name="mobile-web-app-capable", content="yes")
		link(rel="icon", type="image/png", href="/images/favicon/32.png", sizes="32x32")
		link(rel="icon" type="image/png" href="/images/favicon/96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="/images/favicon/16.png", sizes="16x16")
		link(rel="apple-touch-icon-precomposed", href="/images/favicon/152.png")
		link(rel="stylesheet", href="/css/app.min.css")
		title Datavore&reg;
		script.
			document.getElementsByTagName('html')[0].className = 'js';
	body
		#page
			a.wai(href="#content")
			nav
				.container
					a.btn.logo(
						href="http://datavorelabs.com"
						title="Datavore® Releases Home"
					)
						svg(viewBox="0 0 405.2 258.3")
							use(xlink:href="#i-logo")

					ul
						li
							a.btn(
								href="/#about"
							) Contact


			main#content
				h1.wai Datavore<sup>&reg;</sup>
				section#header
					.lines(aria-hidden="true"): span
					.graphs(aria-hidden="true")
						.graph-1
							.bar
							.bar
							.bar
							.bar
						.graph-2
							.bar
							.bar
							.bar
							.bar
							.bar

					aside
						img.logo-header(src="/images/ui/logo_header.png" alt="Datavore Logo")
						div
							img.tagline-header.tagline-header--top(src="/images/ui/tagline-top.png" alt="Turning Data into")
							img.tagline-header.tagline-header--bottom(src="/images/ui/tagline-bottom.png" alt="Knowledge")
							span.tagline-accent(aria-hidden="true")

				section#intro.container
					p Datavore<sup>&reg;</sup> is an adaptive data analytics platform that enables anyone to quickly and easily explore multiple datasets and ask meaningful questions. It provides an intuitive workflow interface enabling the consumption, normalization, analysis, and generation of visualizations.

				section#solutions
					.container
						ul
							li
								h2 See beyond the spreadsheet
								.solutions-icon.solutions-icon--eye
									svg(aria-hidden="true" viewBox="0 0 32 32")
										use(xlink:href="#i-eye")
								p Within seconds of importing your data, Datavore<sup>&reg;</sup> draws visualizations and can answer your data questions at the press of a button. Updates to data or charts are instantly applied to your workflow. Spend less time scratching the surface of your data and more time on deeper exploration.

							li
								h2 We code so you don't&nbsp;have&nbsp;to
								.solutions-icon.solutions-icon--code
									svg(aria-hidden="true" viewBox="0 0 32 32")
										use(xlink:href="#i-code")
								p Deep data analysis is not just for data scientists any more. Datavore<sup>&reg;</sup> empowers users of all levels to access, manipulate, and explore data and create repeatable processes without writing a single SQL query or Excel Macro.

							li
								h2 It's your data, not&nbsp;our&nbsp;data
								.solutions-icon.solutions-icon--lock
									svg(aria-hidden="true" viewBox="0 0 32 32")
										use(xlink:href="#i-lock")
								p Datavore<sup>&reg;</sup> is a browser-based application that can be deployed in minutes to everyone on your network with no need to reach out to the cloud. Your data is yours alone, staying behind your security.

							li
								h2 Analyze time in&nbsp;no&nbsp;time
								.solutions-icon.solutions-icon--clock
									svg(aria-hidden="true" viewBox="0 0 32 32")
										use(xlink:href="#i-clock")
								p Datavore<sup>&reg;</sup> understands that most data is time series data, and provides tools for everything from simple graphs of values over time to advanced linear regression and projections.

				section#cta
					p See how Datavore<sup>&reg;</sup> can deliver value on Day&nbsp;1.
					a.btn.btn-primary(href="mailto:info@datavorelabs.com") Request a Demo

				section#about
					.about-bg(aria-hidden="true")
					.container
						.about-contact
							h2 Contact
							ul
								li
									a(href="mailto:info@datavorelabs.com") info@datavorelabs.com
										span.about-contact-email Email
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-mail")
								li
									a(href="https://www.google.com/maps/place/Rise+New+York/@40.742309,-73.993547,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259a467e29ed9:0xdf27fb2d21d8eac!8m2!3d40.742305!4d-73.991353") 43 West 23rd Street, 6th Floor, New York, NY 10010
										span.about-contact-twitter Address
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-location")
								li
									a(href="tel:2126249225") (212) 624-9225
										span.about-contact-phone Phone
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-phone")
								li
									a(href="https://www.linkedin.com/company/datavorelabs")
										span.about-contact-linkedin LinkedIn
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-linkedin")
										| Datavore<sup>&reg;</sup> Labs
								li
									a(href="https://twitter.com/datavorelabs")
										span.about-contact-twitter Twitter
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-twitter")
										| @datavorelabs

						.about-team
							h2 About
							p The Datavore<sup>&reg;</sup> team has deep domain expertise in databases, time series, and analytics with a successful track record of building technology within the financial services sector. The team has experience working at companies including Goldman Sachs, Citigroup, UBS, Thomson Reuters, Ernst & Young, and KPMG.

				footer(role="contentinfo")
					p &copy; 2017 Datavore<sup>&reg;</sup>


		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
