doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(name="mobile-web-app-capable", content="yes")
		link(rel="icon", type="image/png", href="/images/favicon/32.png", sizes="32x32")
		link(rel="icon" type="image/png" href="/images/favicon/96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="/images/favicon/16.png", sizes="16x16")
		link(rel="apple-touch-icon-precomposed", href="/images/favicon/152.png")
		link(rel="stylesheet", href="/css/app.min.css")
		title Datavore&reg;
		script.
			document.getElementsByTagName('html')[0].className = 'js';
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-72211801-1', 'auto');
				ga('send', 'pageview');
	body
		#page
			a.wai(href="#content")
			nav
				.container
					a.btn.logo(
						href="http://datavorelabs.com"
						title="Datavore® Releases Home"
					)
						svg(viewBox="0 0 405.2 258.3")
							use(xlink:href="#i-logo")

					ul
						li
							a.btn(
								href="/#about"
								data-ga-event="Top Nav"
							) Contact


			main#content
				h1.wai Datavore<sup>&reg;</sup>
				section#header
					.lines(aria-hidden="true"): span
					.graphs(aria-hidden="true")
						.graph-1
							.bar
							.bar
							.bar
							.bar
						.graph-2
							.bar
							.bar
							.bar
							.bar
							.bar

					aside
						img.logo-header(src="/images/ui/logo_header.png" alt="Datavore Logo")
						div
							img.tagline-header.tagline-header--top(src="/images/ui/tagline-top.png" alt="Turning Data into")
							img.tagline-header.tagline-header--bottom(src="/images/ui/tagline-bottom.png" alt="Knowledge")
							span.tagline-accent(aria-hidden="true")

				section#intro.container
					p Datavore<sup>&reg;</sup> is an adaptive data analytics platform that allows you to quickly explore your datasets and ask meaningful questions. Our intuitive interface enables you to easily create repeatable workflows for data aggregation, normalization, analysis, and visualization.

				section#solutions
					.container
						ul
							li
								h2 See beyond the spreadsheet
								.solutions-icon.solutions-icon--eye
									svg(aria-hidden="true" viewBox="0 0 32 32")
										use(xlink:href="#i-eye")
								p After importing data, Datavore<sup>&reg;</sup> instantly draws visualizations to answer your questions. Your analysis automatically updates when data or chart parameters change. Spend less time scratching the surface of your data and more time on deeper exploration.

							li
								h2 We code so you don't&nbsp;have&nbsp;to
								.solutions-icon.solutions-icon--code
									svg(aria-hidden="true" viewBox="0 0 32 32")
										use(xlink:href="#i-code")
								p Deep data analysis is not just for data scientists anymore. Datavore<sup>&reg;</sup> empowers users in all departments to access and manipulate the data they need. Automate your daily data tasks without writing a single SQL query or Excel Macro.

							li
								h2 It's your data, not&nbsp;our&nbsp;data
								.solutions-icon.solutions-icon--lock
									svg(aria-hidden="true" viewBox="0 0 32 32")
										use(xlink:href="#i-lock")
								p Datavore<sup>&reg;</sup> is a browser-based application that can be deployed in minutes to everyone on your network with no need to reach out to the cloud. Your data is yours alone, staying on premises behind your security.

							li
								h2 Analyze time in&nbsp;no&nbsp;time
								.solutions-icon.solutions-icon--clock
									svg(aria-hidden="true" viewBox="0 0 32 32")
										use(xlink:href="#i-clock")
								p Datavore<sup>&reg;</sup> understands that meaningful analysis looks at trends over time, and provides tools for everything from simple line charts to advanced techniques such as linear regressions and projections.

				section#cta
					p.cta See how Datavore<sup>&reg;</sup> can deliver value on Day&nbsp;1.
					p.copy.container Answer the hardest questions about your data through instant visualizations and complex time series analysis by using the unique Datavore<sup>&reg;</sup> interface designed to create repeatable workflows and deliver you insights at the press of a button.
					p.copy.container <b>No other analytical solution on the market can claim to deliver the same power without requiring integration or sending your data to the cloud.</b>.
					a.btn.btn-primary(
						href="mailto:info@datavorelabs.com"
						data-ga-event="Demo Request"
					) Request a Demo

				section#about
					.about-bg(aria-hidden="true")
					.container
						.about-contact
							h2 Contact
							ul
								li
									a(
										href="mailto:info@datavorelabs.com"
										data-ga-event="Email"
									) info@datavorelabs.com
										span.about-contact-email Email
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-mail")
								li
									a(
										href="https://www.google.com/maps/place/Rise+New+York/@40.742309,-73.993547,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259a467e29ed9:0xdf27fb2d21d8eac!8m2!3d40.742305!4d-73.991353"
										data-ga-event="Address"
										target="_blank"
									) 43 West 23rd Street, 6th Floor, New York, NY 10010
										span.about-contact-twitter Address
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-location")
										span.wai This link opens in a new window.
								li
									a(
										href="tel:2126249225"
										data-ga-event="Phone"
									) (212) 624-9225
										span.about-contact-phone Phone
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-phone")
								li
									a(
										href="https://www.linkedin.com/company/datavorelabs"
										data-ga-event="LinkedIn"
										target="_blank"
									)
										span.about-contact-linkedin LinkedIn
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-linkedin")
										| Datavore<sup>&reg;</sup> Labs
										span.wai This link opens in a new window.
								li
									a(
										href="https://twitter.com/datavorelabs"
										data-ga-event="Twitter"
									)
										span.about-contact-twitter Twitter
											svg(viewBox="0 0 32 32")
												use(xlink:href="#i-twitter")
										| @datavorelabs
										span.wai This link opens in a new window.

						.about-team
							h2 About
							p The Datavore<sup>&reg;</sup> team has deep domain expertise in databases, time series, and analytics with a successful track record of building technology within the financial services sector. The team has experience working at companies including Goldman Sachs, Citigroup, UBS, Thomson Reuters, Ernst & Young, and KPMG.

				footer(role="contentinfo")
					p &copy; 2017 Datavore<sup>&reg;</sup>


		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)